body {
  background-color: #000;
  max-width: 1000px;
  max-height: 800px; }

#galaxy {
  padding-left: 300px;
  padding-bottom: 200px; }

.planet {
  position: absolute;
  border-radius: 50%;
  margin-top: 290px;
  margin-left: 290px; }

.star {
  position: absolute;
  border-radius: 50%;
  margin-top: 250px;
  margin-left: 250px; }

.x-small {
  width: 5px;
  height: 5px; }

.small {
  width: 20px;
  height: 20px; }

.medium {
  width: 40px;
  height: 40px; }

.large {
  width: 60px;
  height: 60px; }

.x-large {
  width: 100px;
  height: 100px; }

.yellow {
  background: -webkit-linear-gradient(#ffde00, #ffc600);
  background: -moz-linear-gradient(#ffde00, #ffc600);
  background: linear-gradient(#ffde00, #ffc600); }

.grey {
  background: -webkit-linear-gradient(#7D838C, #393C40);
  background: -moz-linear-gradient(#7D838C, #393C40);
  background: linear-gradient(#7D838C, #393C40); }

.orange {
  background: -webkit-linear-gradient(#CCC9A9, #8C8A75);
  background: -moz-linear-gradient(#CCC9A9, #8C8A75);
  background: linear-gradient(#CCC9A9, #8C8A75); }

.red {
  background: -webkit-linear-gradient(#CC2922, #400D0B);
  background: -moz-linear-gradient(#CC2922, #400D0B);
  background: linear-gradient(#CC2922, #400D0B); }

.blue {
  background: -webkit-linear-gradient(#1E49CC, #091740);
  background: -moz-linear-gradient(#1E49CC, #091740);
  background: linear-gradient(#1E49CC, #091740); }

.location-1 {
  -webkit-animation: ellipse-1 5s linear infinite;
  animation: ellipse-1 5s linear infinite; }

.location-2 {
  -webkit-animation: ellipse-2 9s linear infinite;
  animation: ellipse-2 9s linear infinite; }

.location-3 {
  -webkit-animation: ellipse-3 15s linear infinite;
  animation: ellipse-3 15s linear infinite; }

.location-4 {
  -webkit-animation: ellipse-4 22s linear infinite;
  animation: ellipse-4 22s linear infinite; }

@-webkit-keyframes ellipse-1 {
  from {
    -webkit-transform: rotate(0deg) translateY(-90px); }
  to {
    -webkit-transform: rotate(360deg) translateY(-90px); } }

@keyframes ellipse-1 {
  from {
    transform: rotate(0deg) translateY(-90px); }
  to {
    transform: rotate(360deg) translateY(-90px); } }

@-webkit-keyframes ellipse-2 {
  from {
    -webkit-transform: rotate(0deg) translateY(-150px); }
  to {
    -webkit-transform: rotate(360deg) translateY(-150px); } }

@keyframes ellipse-2 {
  from {
    transform: rotate(0deg) translateY(-150px); }
  to {
    transform: rotate(360deg) translateY(-150px); } }

@-webkit-keyframes ellipse-3 {
  from {
    -webkit-transform: rotate(0deg) translateY(-200px); }
  to {
    -webkit-transform: rotate(360deg) translateY(-200px); } }

@keyframes ellipse-3 {
  from {
    transform: rotate(0deg) translateY(-200px); }
  to {
    transform: rotate(360deg) translateY(-200px); } }

@-webkit-keyframes ellipse-4 {
  from {
    -webkit-transform: rotate(0deg) translateY(-250px); }
  to {
    -webkit-transform: rotate(360deg) translateY(-250px); } }

@keyframes ellipse-4 {
  from {
    transform: rotate(0deg) translateY(-250px); }
  to {
    transform: rotate(360deg) translateY(-250px); } }
